body {
  color: #333;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

#header {
  background: #02a9f7;
  color: white;
  padding: 0.5em;
}

h1 {
  font-size: 25px;
}

#post {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#post p {
  text-align: justify;
}

#blogImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 50%;
}

#footer {
  padding: 1em 0;
  text-align: center;
  background-color: #434a54;
  color: white;
  font-size: 12px;
  font-style: italic;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.column {
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
