body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

#header {
  background: #02a9f7;
  color: white;
  padding: 0.5em;
  text-align: center;
}

h1 {
  font-size: 25px;
}

#post {
  padding: 5% 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: flex;
}

#post p {
  text-align: justify;
}

.img-container {
  width: 30%;
  align-items: center;
}

.text-container {
  width: 70%;
}

#blogImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 50%;
}

.footer {
  padding: 1em 0;
  text-align: center;
  background-color: #434a54;
  color: white;
  font-size: 12px;
  font-style: italic;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}
